<%= link_to garden_path(garden) do %>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/126271/pexels-photo-126271.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
    <div class="card-category">Popular</div>
    <div class="card-description">
      <h2><%= garden.name %></h2>
      <p>Very cool city, the best</p>
    </div>
    <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  </div>
<% end %>
<%#= link_to "", path %>